= form_with(model: [@company, @group], local: true) do |f|
  .field
    = f.label :name
    = f.text_field :name, placeholder: 'グループ名を入力', class: 'input-area'
  .field.submit
    = f.submit class: 'submit-btn'
