= render 'shared/header'
.container
  .container
    .content
      .company-home
        .left
          = render 'companies/side'
        .right
          %h1 利用者の情報を編集
          .form
            = render 'form'