.wrapper
  .container
    .content
      .company-home
        .left
          = render 'side'
        .right
          利用者一覧
          - @users.each do |u|
            %div
              = link_to  user_path(u) do
                = u.name
                - if u.group
                  = u.group.name
